body {
	margin: 0;
	background-color: black;

}
#title{
	text-align: center;
}
h1{
	color:bisque;
	font-family:"AlternateGothic2 BT";
	letter-spacing: 6pt;

}
#mapid { /*#id or .class*/
    height: 500px;
	width: 80%;
	margin-left: 2em;
    display: inline-block;

}
/* img gallery
.map{
	float:left;
}
#galleryPhoto {
	float:left;
	border-radius: 4px;
	border:0em;
} */
/* parallel ------------------------------------------------------------------------------ */
.palette{
	margin: 0em 28em;
	position:relative;
	float:left;
  }
#p_chartTitle{
	margin: 0pt;
	text-align: center;
	color:bisque;
	font-family:"AlternateGothic2 BT";
	font-size: 22pt;
}

.parallel{
	float:left;
	background-color:white;
}
.parallel-us{
	float:left;
	padding:0.1em;
}
.parallel-ca{
	float:left;
	padding:0.1em;
}
#button{
	background-color: black;
	padding:0.5em 1em;
}
.axis {
	opacity: 0.4;
}
.axis:hover {
	opacity: 1;
}
/* Axis tick */
.tick text,line{
	stroke:bisque;
	fill:bisque;
	font-size: 12pt;
	font-family: 'Courier New', Courier, monospace;
}
/* Axis */
.domain { 
	stroke:cornsilk;
}
/* reset button */
.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, bisque 5%, #f24437 100%);
	background-color:bisque;
	border-radius:15px;
	border:1px solid bisque;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

/* --------------------------------------------Search--------------------------------------- */
#geocode-selector {
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 10000;
}

#geocode-selector button {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 12px 24px;
	margin-left: 24px;
	font-size: 1.2em;
	font-weight: bold;
	transition: background-color 0.25s ease-out;
	outline: none;
}

#geocode-selector button:hover {
	background-color: white;
}

#geocode-selector .selected {
	background-color: #0078A8;
	color: white;
}

#geocode-selector .selected:hover {
	background-color: #49e;
}